.main-container {
  min-height: 100vh;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.95);
}

.gj-log-logo {
  text-align: center;
  color: #495057;
}

/*.log-logo-size {*/
/*}*/

@media (min-width: 0px)  {

  /*.main-container {*/
  /*min-height: 100vh;*/
  /*}*/

  .form-container {
    padding: 2rem 1rem;
    border-radius: 0px;
  }
}

/*@media (min-width: 450px){*/
/**/
/*.main-container {*/
/*min-height: 100vh;*/
/*}*/
/*}*/

@media (min-width: 576px) {

  .form-container {
    padding: 2rem;
    border-radius: 5px;
  }
}

@media (min-height: 0px ) {

  .gj-log-logo {
    font-size: 0px;
    padding-bottom: 2rem;
  }
  .log-logo-size {
    width: 30px;
  }
}

@media (min-height: 670px ) {

  .gj-log-logo {
    font-size: 70px;
    padding-bottom: 20px;
  }
  .log-logo-size {
    width: 100px;
  }
}

.gj-terms-paragraph {
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
}

.flex-parent {
  display: flex;
  height: 20px;
  align-items: center;
  text-align: center !important;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.flex-child-edge {
  flex-grow: 2;
  height: 1px;
  border: 1px rgba(169, 169, 169, 0.25) solid;
}

.flex-child-text {
  color: rgba(23, 23, 23, 0.37);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  flex-basis: auto;
  flex-grow: 0;
  margin: 0px 5px 0px 5px;
}

.icon-offset {
  position: relative;
  top: 2px;
  left: -2px;
}

