<div class="d-flex flex-column justify-content-center align-items-center my-1" style="height: 100%">
  <form class="gj-container shadow-lg p-3">

    <div>SPTFY</div>

    <div class="form-check-inline" style="text-align: center">
      <a href="spotify.com" class="btn spotify-button"><i class="fa fa-spotify gj-button-logo"></i> Sign up with Spotify</a>
      <a href="facebook.com" class="btn facebook-button"><i class="fa fa-facebook-square gj-button-logo"></i> Sign up
        with Facebook</a>
    </div>

    <p class="or-style">or</p>

    <div style="padding-bottom: 10px; font-weight: bold; text-align: center">Sign up with your email address</div>
    <div class="form-group">
      <input type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Your name">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="confPassword" placeholder="Confirm password">
    </div>
    <div class="form-group">
      <p class="gj-terms-paragraph">By clicking on Sign up, you agree to Sptfy's <a
        href="http://google.com" class="gj-link"> Terms and Conditions of Use</a>.</p>
    </div>

    <div class="form-group">
      <button type="submit" class="btn gj-btn-green">Sign up</button>
    </div>

    <div style="font-size: 14px; text-align: center;">
      Already have an account? <a href="http://google.com" class="gj-link">Log in</a>.
    </div>
  </form>
</div>
